.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navstickLeft,
.navstickRight {
  height: 25px;
  width: 100px;
}

.navButton {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}