.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Rock Salt', cursive;
}

.page {
  background-color: #4CC2FF;
  font-family: 'Rock Salt', cursive;
}

.page img {
  height: 10vmin;
}
.page div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}