.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-color: #5158C3;
  font-family: 'Bungee', cursive;
  border-radius: 20px;
  padding: 1em;
  color: #EADC59;
}

.label,
.button {
  margin-right: 0.5rem;
}

.inputContainer {
  margin-bottom: 1rem;
}