.navbar > * {
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  color: white;
  font-size: 36px;
  font-family: 'VT323', monospace;
}

.navbar li{
  list-style: none;
  padding-bottom: .5em;
}

.navbar li > * {
  text-decoration: none;
  color: white;
  font-size: 28px;
}

.navbar li > *:hover {
  border: 1px solid white;;
}