/* .navbar {
  height: 3rem;
  margin: 0;
}

.navbar > * {
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  color: white;
  font-size: 36px;
  font-family: 'VT323', monospace;
  margin-bottom: 0;
}

.navbar ul {
  padding: 10px;
}

.navbar li{
  list-style: none;
}

.navbar li > * {
  text-decoration: none;
  color: white;
  font-size: 28px;
  padding: .1em;
}

.navbar li > *:hover {
  border: 1px solid white;
} */