html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*! =============NAVBAR===========  */

.navbar {
  height: 3rem;
  margin: 0;
}

.navbar > * {
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  color: white;
  font-size: 36px;
  font-family: 'VT323', monospace;
  margin-bottom: 0;
}

.navbar ul {
  padding: 10px;
  margin-top: 0px;
}

.navbar li{
  list-style: none;
}

.navbar li > * {
  text-decoration: none;
  color: white;
  font-size: 28px;
  padding: .1em;
}

.navbar li > *:hover {
  border: 1px solid white;
}

@media (max-width: 950px){
  .navbar #welcome {
  display: none;
  }
  .navbar > * {
    flex-wrap: wrap;
  }
}

@media (max-width: 680px){
  .navbar #change-password {
    display: none;
  }
}

@media (max-width: 450px){
  .navbar {
    margin-bottom: 40px;
  }
}
/*! =============NAVBAR===========  */

.page-head {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin-top: 8px;
}

.page-head img {
  height: 48px;
}

.body {
  background-color: brown;
  padding: 2%;
  height: 100%;
}

.form-container {
  background-color: green;
  padding: 10em;
  display: flex;
  justify-content: center;
}

.form {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  width: 40%;
}

.form div {
  padding: 1em;
}

.form > * {
  display: flex;
  flex-direction: column;
}


/*! =============PACMAN===========  */
#pacman {
  font-family: 'Bungee', cursive;
  background-color: #5158C3;
}

#pacman h1 {
  -webkit-text-stroke: 2px #FD4293;
  color: #EADC59;
  font-weight: 900;
  font-size: 56px;
  font-family: 'Bungee', cursive;
  background-color: #5158C3;
  text-align: center;
  margin: 0px;
}

#pacman div.form-container {
  border-radius: 40px;
  background-color: black;
}

#pacman .form {
  background-color: #5158C3;
  border-radius: 20px;
  color: #EADC59;
}

#pacman .button-container {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

#pacman .button-container > :nth-child(1) {
  font-family: 'Bungee', cursive;
  padding: 3px;
  margin-right: 0.5rem;
  border-radius:10px;
  background-color: #F91103;
}

#pacman .button-container > :nth-child(1):disabled {
  padding: 3px;
  margin-right: 0.5rem;
  border-radius:10px;
  background-color: #f90f039a;
  color: black;
}

#pacman a button {
  font-family: 'Bungee', cursive;
  height: 50px;
  padding: 3px;
  margin-right: 0.5rem;
  border-radius: 10px;
  background-color: #FDDD10;
}

#pacman input {
  font-family: 'Bungee', cursive;
  background-color: white;
  color: black;
  border-radius: 4px;
  font-weight: bold;
}

/*! =============PACMAN===========  */

/*! ============SIMPSONS==========  */

#simpsons {
  font-family: 'Rock Salt', cursive;
  background-color: #4CC2FF;
}

#simpsons h1 {
  -webkit-text-stroke: .25px #FDE024;
  text-shadow: -1px 1px 2px #000,
              1px 1px 2px #000,
              1px -1px 0 #000,
              -1px -1px 0 #000;
  color: #FDE024;
  transform: rotate(-15deg);
  font-weight: 900;
  font-size: 3vmin;
}

#simpsons img {
  height: 15vmin;
}

#simpsons div.form-container {
  border-radius: 40px;
  background-color: black;
}

#simpsons .form {
  background-color: #4CC2FF;
  border-radius: 20px;
  color: #FDE024;
  text-shadow: -1px 1px 2px #000,
  1px 1px 2px #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

#simpsons input {
  background-color: white;
  color: black;
  border-radius: 4px;
  font-weight: bold;
}

#simpsons .button-container {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

#simpsons .button-container button, #simpsons .button-container a {
  height: 50px;
  -webkit-text-stroke: .25px #FDE024;
  text-shadow: -1px 1px 2px #000,
              1px 1px 2px #000,
              1px -1px 0 #000,
              -1px -1px 0 #000;
  color: #FDE024;
  font-weight: 900;
  font-size: 1.5vmin;
  border-radius: 20px;
}

@media (max-width: 850px){
  #simpsons div.form-container {
    padding: 40px;
  }
  #simpsons form {
    width: 180px;
  }
  #simpsons .button-container button {
    font-size: 16px;
    margin: 4px;
  }
}

/*! ============SIMPSONS==========  */

/*! ============DEFENDER==========  */

#defender{
  background-color: black;
  height: 100%;
}

#defender .page-head {
  background-color: black;
  color: #FEFB02;
  font-family: 'Russo One', sans-serif;
  font-size: 32px;
  justify-content: center;
  border-top: 4px solid #F62D21;
}

#defender .body {
  padding: 2%;
  height: 100%;
  background-color: #F62D21;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

#defender h1 {
  color: #FFFC07;
  text-shadow:
  4px 10px 0 #F62D21,
  -4px 10px 0 #F62D21;
}


#defender .player-list {
  font-family: 'VT323', monospace;
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 5;
  grid-column-end: 5;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  background-color: black;
  border-radius: 40px;
  color: white;
  font-size: 64px;
  height: 80%;
}

@media (max-width: 450px){
  #defender h1 {
    text-align: center;
  }
}

/*! ============DEFENDER==========  */