html {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*! =============NAVBAR===========  */

.navbar {
  height: 3rem;
  margin: 0;
}

.navbar > * {
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  color: white;
  font-size: 36px;
  font-family: 'VT323', monospace;
  margin-bottom: 0;
}

.navbar ul {
  padding: 10px;
  margin-top: 0px;
}

.navbar li{
  list-style: none;
}

.navbar li > * {
  text-decoration: none;
  color: white;
  font-size: 28px;
  padding: .1em;
}

.navbar li > *:hover {
  border: 1px solid white;
}

@media (max-width: 950px){
  .navbar #welcome {
  display: none;
  }
  .navbar > * {
    flex-wrap: wrap;
  }
}

@media (max-width: 680px){
  .navbar #change-password {
    display: none;
  }
}

@media (max-width: 450px){
  .navbar {
    margin-bottom: 40px;
  }
}

/*! =============NAVBAR===========  */

.page-head {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin-top: 8px;
}

.page-head img {
  height: 48px;
}

.body {
  background-color: brown;
  padding: 2%;
  height: 100%;
}

.form-container {
  background-color: green;
  padding: 10em;
  display: flex;
  justify-content: center;
}

.form {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  width: 40%;
}

.form div {
  padding: 1em;
}

.form > * {
  display: flex;
  flex-direction: column;
}


/*! =============PACMAN===========  */
#pacman {
  font-family: 'Bungee', cursive;
  background-color: #5158C3;
}

#pacman.body {
  height: 100vh;
}

#pacman h1 {
  -webkit-text-stroke: 2px #FD4293;
  color: #EADC59;
  font-weight: 900;
  font-size: 56px;
  font-family: 'Bungee', cursive;
  background-color: #5158C3;
  text-align: center;
}

#pacman div.form-container {
  border-radius: 40px;
  background-color: black;
}

#pacman .form {
  background-color: #5158C3;
  border-radius: 20px;
  color: #EADC59;
}

#pacman .button-container {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

#pacman .button-container > :nth-child(1) {
  font-family: 'Bungee', cursive;
  padding: 3px;
  margin-right: 0.5rem;
  border-radius:10px;
  background-color: #F91103;
}

#pacman .button-container > :nth-child(1):disabled {
  padding: 3px;
  margin-right: 0.5rem;
  border-radius:10px;
  background-color: #f90f039a;
  color: black;
}

#pacman a button {
  font-family: 'Bungee', cursive;
  height: 50px;
  padding: 3px;
  margin-right: 0.5rem;
  border-radius: 10px;
  background-color: #FDDD10;
}

#pacman input {
  font-family: 'Bungee', cursive;
  background-color: white;
  color: black;
  border-radius: 4px;
  font-weight: bold;
}

#pacman div#photo {
  display: flex;
  width: 60%;
}

#pacman div#photo input {
  background-color: #5158C3;
  color: #5158C3;
}

@media (max-width: 950px){
  #pacman .form{
    width:max-content
  }
}

@media (max-width: 850px){
  #pacman div.form-container {
    padding: 40px;
  }
  #pacman form {
    width: 180px;
  }
  #pacman .button-container button {
    font-size: 16px;
    margin: 4px;
  }
  #pacman img {
    display: none;
  }

  @media (max-width: 450px){   
    #pacman.page-head {
      margin-top: -35px;
    }
    #pacman .form {
      width: 240px;
    }
  }
}

/*! =============PACMAN===========  */

/*! ============SIMPSONS==========  */

#simpsons {
  font-family: 'Rock Salt', cursive;
  background-color: #4CC2FF;
}

#simpsons h1 {
  -webkit-text-stroke: .25px #FDE024;
  text-shadow: -1px 1px 2px #000,
              1px 1px 2px #000,
              1px -1px 0 #000,
              -1px -1px 0 #000;
  color: #FDE024;
  transform: rotate(-15deg);
  font-weight: 900;
  font-size: 3vmin;
}

#simpsons img {
  height: 15vmin;
}

#simpsons div.form-container {
  border-radius: 40px;
  background-color: black;
}

#simpsons .form {
  background-color: #4CC2FF;
  border-radius: 20px;
  color: #FDE024;
  text-shadow: -1px 1px 2px #000,
  1px 1px 2px #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

#simpsons input {
  background-color: white;
  color: black;
  border-radius: 4px;
  font-weight: bold;
}

#simpsons .button-container {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

#simpsons .button-container button, #simpsons .button-container a {
  height: 50px;
  -webkit-text-stroke: .25px #FDE024;
  text-shadow: -1px 1px 2px #000,
              1px 1px 2px #000,
              1px -1px 0 #000,
              -1px -1px 0 #000;
  color: #FDE024;
  font-weight: 900;
  font-size: 1.5vmin;
  border-radius: 20px;
}

@media (max-width: 850px){
  #simpsons div.form-container {
    padding: 40px;
  }
  #simpsons form {
    width: 180px;
  }
  #simpsons .button-container button {
    font-size: 16px;
    margin: 4px;
  }
  #simpsons.body {
  height: 100vh;
  }

}

/*! ============SIMPSONS==========  */

/*! ============DEFENDER==========  */

#defender{
  background-color: black;
  height: 100%;
}

#defender div.body {
  height: 100%;
  background-color: black;
}


#defender .page-head {
  background-color: black;
  color: #FEFB02;
  font-family: 'Russo One', sans-serif;
  font-size: 32px;
  justify-content: center;
  border-top: 4px solid #F62D21;
}

#defender .body {
  padding: 2%;
  height: 100%;
  background-color: #F62D21;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

#defender h1 {
  color: #FFFC07;
  text-shadow:
  4px 10px 0 #F62D21,
  -4px 10px 0 #F62D21;
}


#defender .player-list {
  font-family: 'VT323', monospace;
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 5;
  grid-column-end: 5;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  background-color: black;
  border-radius: 40px;
  color: white;
  font-size: 64px;
  height: 60vmax;
  border: 12px solid #F62D21;
}

@media (max-width: 450px){
  #defender h1 {
    text-align: center;
  }
}

@media (max-width: 700px){
  #defender .player-list {
    justify-items: start;
  }
}

@media (max-width: 980px){
  #defender div.body {
  height: 100vh;
  background-color: black;
  }
}

#defender a, #defender a::before{
    text-decoration: none;
    color: white;
    padding: 2px;
  }
  
  #defender a:hover {
  border: 1px solid white;
}

/*! ============DEFENDER==========  */

/*! ============FOOTER============  */

.footer {
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding-top: 16px;
}

.footer * {
  font-family: 'VT323', monospace;
  font-size: 24px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container * {
  margin: 8px;
}

.footer-container a {
  text-decoration: none;
  color: white;
  font-size: 1.5vw 1.5vh;
}

.footer-container a:hover {
  text-decoration: underline;
}

.navstick-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 50px;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 0;
  width: 100%;
}

.buttons-container {
  display: flex;
  width: 400px;
}

.navstick-left,
.navstick-right {
  width: 100px;
  background-color: transparent;
  border: none;
}

.navstick-left {
  margin-left: 0;
  margin-right: auto;
}

.navstick-right {
  margin-left: auto;
  margin-right: 0;
}

.navstick-link {
  text-decoration: none;
}

.navstick-button {
  width: 45px;
  height: 45px;
  font-size: 12px;
  font-weight: bold;
  border: solid black 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.navstick-button:hover {
  filter: brightness(200%);
}

.arrow-left,
.arrow-right {
  width: 30px;
}

.arrow-right {
  transform: scaleX(-1);
}

.arrow-left:hover,
.arrow-right:hover {
  filter: invert();
}

.destination-name {
  color: #02bbf9;
  user-select: none;
}

.destination-name:hover {
  color: #d18f3c;
}

.navstick-destinaiton {
  text-decoration: none;
}


/*! ============FOOTER============  */



/*! ============LOBBY LIST/SPACE INVADER============  */
#space-invaders{
  background-color: #222359;
}

h1.space-invaders {
  font-family: 'Russo One', sans-serif;
  font-size: 5em;
  color: #C0D535;
  text-shadow: 
              0 -3px 2px #758CC6,
              0 -6px 2px #3A99D4;
}

#space-invaders #lobby-container {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  border-radius: 40px;
  margin-bottom: 5%;
}

.lobbyCard {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  justify-content: space-between;
  background-color: #3DB644;
  border-radius: 20px;
  margin: 1%;
  padding: 1%;
}

.lobbyCard:hover {
  background-color: rgb(0, 255, 0);
}

div.lobbyCard button{
  background-color: black;
  color: white;
  font-family: 'VT323', monospace;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: 20px;
}

div.lobbyCard button:hover {
  background-color: red;
}

.lobbyCard div {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 40em;
  padding: 1%;
  border-radius: 20px;
}

.lobbyCard div * {
  background-color: black;
}

.lobbyCard a {
  text-decoration: none;
  color: white;
  font-family: 'VT323', monospace;
}

#space-invaders #lobby-container .form {
  font-family: 'VT323', monospace;
  background-color: black;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  border: 4px solid #3DB644;
  border-radius: 20px;
  color: white;
  margin: 1%;
  font-size: 24px;
}

#lobby-container .form button {
  font-family: 'VT323', monospace;
  background-color: white;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: 20px;
}

#lobby-container .form input {
  font-family: 'VT323', monospace;
  font-size: 24px;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
}

#space-invaders #lobby-container .form button:hover {
  background-color: #00ff0d;
}

#main-page {
  display: flex;
  width: 100%
}

#bad-guy-container img {
  width: 100%;
  padding: 5%;
  max-width: 120%;
}

#good-guy{
  width: 50%;
  max-width: 80px;
  /* animation: move 2s 20; */
}

/* @keyframes move{
  0%{margin-left: -80%}
  50%{margin-left: 80%}
  100%{margin-left: -80%}
} */

#image-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

img.shot#left {
  padding-left: 0;
  width: 10%;
  max-width: 30px;
  margin-left: -80%;
}

img.shot#right {
  padding-left: 0;
  width: 10%;
  max-width: 30px;
  margin-left: 40%;
}
/*! ============LOBBY LIST/SPACE INVADER============  */

/*! ============LOBBY ROOM============  */


#lobby-room {
  background-color: #222359;
  justify-items: center;
}

#lobby-room h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20%;
  display: flex;
  justify-content: center;
}

#lobby-head {
  font-size: 16px;
  font-family: 'VT323', monospace;
  border-radius: 20px;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
  margin: 1%;
  width: 20%;
  height: 900px;
}

#lobby-head > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10%;
}

#lobby-head h2{
  text-align: center;
}

#lobby-head #chatroom-header{
  margin-top: 0;
}

#lobby-head button {
  font-family: 'VT323', monospace;
  font-size: 24px;
  background-color: black;
  color: white;
  border: 1px solid #3DB644;
  margin: 3%;
  border-radius: 4px;
}

#lobby-head #mini-room {
  /* background-color: blue; */
}

#chatroom {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 1%;
  width: 80%;
  height: 900px;
  border-radius: 40px;
  justify-content: space-between;
}

#chatrooms {
  height: 40%;
}

#chatroom-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

#chatroom-list::-webkit-scrollbar{
  background-color: rgba(255, 0, 0, 0);
}

::-webkit-scrollbar-track {
  margin-top: 40px;
  margin-bottom: 40px;
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3DB644;
  border-radius: 4px;
  size: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 255, 0);
}

#lobby-screen {
  display: flex;
}

#send-container {
  display: flex;
  justify-content: center;
  border: 4px solid #3DB644;
  border-radius: 40px;
  margin: 3%;
}

#button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

#button-container button:nth-child(1):hover{
  background-color: rgb(0, 255, 0);
}

#button-container button:nth-child(2):hover{
  background-color: red;
}

#button-container button {
  width: 50%;
}

#send-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

#send-container form button {
  background-color: black;
  color: white;
  width: 140%;
  border: none;
  border-radius: 10px;
  height: 80%;
  font-size: 24px;
  font-family: 'VT323', monospace;
}

#send-container form button:hover{
  background-color: #00ff0d;
  color: white;
}

#send-container form div:nth-child(1){
  width: 95%;
}

#send-container form div:nth-child(2){
  width: 5%;
}

#send-container form div input {
  font-family: 'VT323', monospace;
  background-color: black;
  color: white;
  font-size: 32px;
  height: 32px;
  width: 100%;
  border: none;
  padding: 20px;
}

#send-container form input:focus-visible{
  outline: none;
}

#send-container form label {
  display: none;
}

#message-container {
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 2%;
  overflow-y: scroll;
}

#message-container::-webkit-scrollbar{
  background-color: rgba(255, 0, 0, 0);
}

::-webkit-scrollbar-track {
  margin-top: 40px;
  margin-bottom: 40px;
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3DB644;
  border-radius: 4px;
  size: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 255, 0);
}

#my-message{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

#my-message button {
  height: fit-content;
  border-radius: 20px;
  background-color: #3A99D4;
  border: none;
}

#my-message button:hover {
  background-color: red;
}

.message-content {
  font-family: 'VT323', monospace;
  background-color: black;
  color: white;
  border: 4px solid #3DB644;
  font-size: 32px;
  border-radius: 20px;
  width: fit-content;
  margin: 1%;
  padding: 1%;
}

#create-chatroom {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

#create-chatroom * {
  margin: 2%;
}

#create-chatroom input{
  width: 75%;
  font-family: 'VT323', monospace;
  color: white;
  background-color: black;
  border: 2px solid #3DB644;
  border-radius: 4px;
  outline: none;
  font-size: 24px;
}

#create-chatroom button:hover {
  background-color: #00ff0d;
}

/*! ============LOBBY ROOM============  */