html {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*! =============NAVBAR===========  */

.navbar {
  height: 3rem;
  margin: 0;
}

.navbar > * {
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  color: white;
  font-size: 36px;
  font-family: 'VT323', monospace;
  margin-bottom: 0;
}

.navbar ul {
  padding: 10px;
  margin-top: 0px;
}

.navbar li{
  list-style: none;
}

.navbar li > * {
  text-decoration: none;
  color: white;
  font-size: 28px;
  padding: .1em;
}

.navbar li > *:hover {
  border: 1px solid white;
}

@media (max-width: 950px){
  .navbar #welcome {
  display: none;
  }
  .navbar > * {
    flex-wrap: wrap;
  }
}

@media (max-width: 680px){
  .navbar #change-password {
    display: none;
  }
}

@media (max-width: 450px){
  .navbar {
    margin-bottom: 40px;
  }
}

/*! =============NAVBAR===========  */

.page-head {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin-top: 8px;
}

.page-head img {
  height: 48px;
}

.body {
  background-color: brown;
  padding: 2%;
  height: 100%;
}

.form-container {
  background-color: green;
  padding: 10em;
  display: flex;
  justify-content: center;
}

.form {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  width: 40%;
}

.form div {
  padding: 1em;
}

.form > * {
  display: flex;
  flex-direction: column;
}


/*! =============PACMAN===========  */
#pacman {
  font-family: 'Bungee', cursive;
  background-color: #5158C3;
}

#pacman.body {
  height: 100vh;
}

#pacman h1 {
  -webkit-text-stroke: 2px #FD4293;
  color: #EADC59;
  font-weight: 900;
  font-size: 56px;
  font-family: 'Bungee', cursive;
  background-color: #5158C3;
  text-align: center;
}

#pacman div.form-container {
  border-radius: 40px;
  background-color: black;
}

#pacman .form {
  background-color: #5158C3;
  border-radius: 20px;
  color: #EADC59;
}

#pacman .button-container {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

#pacman .button-container > :nth-child(1) {
  font-family: 'Bungee', cursive;
  padding: 3px;
  margin-right: 0.5rem;
  border-radius:10px;
  background-color: #F91103;
}

#pacman .button-container > :nth-child(1):disabled {
  padding: 3px;
  margin-right: 0.5rem;
  border-radius:10px;
  background-color: #f90f039a;
  color: black;
}

#pacman a button {
  font-family: 'Bungee', cursive;
  height: 50px;
  padding: 3px;
  margin-right: 0.5rem;
  border-radius: 10px;
  background-color: #FDDD10;
}

#pacman input {
  font-family: 'Bungee', cursive;
  background-color: white;
  color: black;
  border-radius: 4px;
  font-weight: bold;
}

#pacman div#photo {
  display: flex;
  width: 60%;
}

#pacman div#photo input {
  background-color: #5158C3;
  color: #5158C3;
}

@media (max-width: 950px){
  #pacman .form{
    width:max-content
  }
}

@media (max-width: 850px){
  #pacman div.form-container {
    padding: 40px;
  }
  #pacman form {
    width: 180px;
  }
  #pacman .button-container button {
    font-size: 16px;
    margin: 4px;
  }
  #pacman img {
    display: none;
  }

  @media (max-width: 450px){   
    #pacman.page-head {
      margin-top: -35px;
    }
    #pacman .form {
      width: 240px;
    }
  }
}

/*! =============PACMAN===========  */

/*! ============SIMPSONS==========  */

#simpsons {
  font-family: 'Rock Salt', cursive;
  background-color: #4CC2FF;
}

#simpsons h1 {
  -webkit-text-stroke: .25px #FDE024;
  text-shadow: -1px 1px 2px #000,
              1px 1px 2px #000,
              1px -1px 0 #000,
              -1px -1px 0 #000;
  color: #FDE024;
  transform: rotate(-15deg);
  font-weight: 900;
  font-size: 3vmin;
}

#simpsons img {
  height: 15vmin;
}

#simpsons div.form-container {
  border-radius: 40px;
  background-color: black;
}

#simpsons .form {
  background-color: #4CC2FF;
  border-radius: 20px;
  color: #FDE024;
  text-shadow: -1px 1px 2px #000,
  1px 1px 2px #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

#simpsons input {
  background-color: white;
  color: black;
  border-radius: 4px;
  font-weight: bold;
}

#simpsons .button-container {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

#simpsons .button-container button, #simpsons .button-container a {
  height: 50px;
  -webkit-text-stroke: .25px #FDE024;
  text-shadow: -1px 1px 2px #000,
              1px 1px 2px #000,
              1px -1px 0 #000,
              -1px -1px 0 #000;
  color: #FDE024;
  font-weight: 900;
  font-size: 1.5vmin;
  border-radius: 20px;
}

@media (max-width: 850px){
  #simpsons div.form-container {
    padding: 40px;
  }
  #simpsons form {
    width: 180px;
  }
  #simpsons .button-container button {
    font-size: 16px;
    margin: 4px;
  }
  #simpsons.body {
  height: 100vh;
  }

}

/*! ============SIMPSONS==========  */

/*! ============DEFENDER==========  */

#defender{
  background-color: black;
  height: 100%;
}

#defender div.body {
  height: 100%;
  background-color: black;
}


#defender .page-head {
  background-color: black;
  color: #FEFB02;
  font-family: 'Russo One', sans-serif;
  font-size: 32px;
  justify-content: center;
  border-top: 4px solid #F62D21;
}

#defender .body {
  padding: 2%;
  height: 100%;
  background-color: #F62D21;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

#defender h1 {
  color: #FFFC07;
  text-shadow:
  4px 10px 0 #F62D21,
  -4px 10px 0 #F62D21;
}


#defender .player-list {
  font-family: 'VT323', monospace;
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 5;
  grid-column-end: 5;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  background-color: black;
  border-radius: 40px;
  color: white;
  font-size: 64px;
  height: 60vmax;
  border: 12px solid #F62D21;
}

@media (max-width: 450px){
  #defender h1 {
    text-align: center;
  }
}

@media (max-width: 700px){
  #defender .player-list {
    justify-items: start;
  }
}

@media (max-width: 980px){
  #defender div.body {
  height: 100vh;
  background-color: black;
  }
}

#defender a, #defender a::before{
    text-decoration: none;
    color: white;
    padding: 2px;
  }
  
  #defender a:hover {
  border: 1px solid white;
}

/*! ============DEFENDER==========  */

/*! ============FOOTER============  */

.footer {
  bottom: 0;
  width: 100%;
  position: sticky;
  background-color: black;
  color: white;
  padding-top: 16px;
}

.footer * {
  font-family: 'VT323', monospace;
  font-size: 24px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container * {
  margin-left: 8px;
  margin-right: 8px;
}

.footer-container a {
  text-decoration: none;
  color: white;
}

.footer-container a:hover {
  text-decoration: underline;
}

.navstick-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.buttons-container {
  display: flex;
  width: 400px;
}

.navstick-left,
.navstick-right {
  width: 100px;
  background-color: transparent;
  border: none;
}

.navstick-left {
  margin-left: 0;
  margin-right: auto;
}

.navstick-right {
  margin-left: auto;
  margin-right: 0;
}

.navstick-link {
  text-decoration: none;
}

.navstick-button {
  width: 75px;
  height: 75px;
  font-size: 20px;
  border-radius: 50%;
  background-color: #02bbf9;
}

.navstick-button:hover {
  background-color: #d18f3c;
  color: white;
}

.arrow-left,
.arrow-right {
  width: 75px;
}

.arrow-right {
  transform: scaleX(-1);
}

.arrow-left:hover,
.arrow-right:hover {
  filter: invert();
}

.destination-name {
  color: #02bbf9;
  user-select: none;
}

.destination-name:hover {
  color: #d18f3c;
}

/*! ============FOOTER============  */


/*! ============LOBBY LIST============  */
#lobby-container {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  border-radius: 40px;
}

.lobbyCard {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  justify-content: space-between;
  background-color: red;
  border-radius: 20px;
  width: 100%;
  margin: 1%;
  padding: 1%;
}

.lobbyCard:hover {
  background-color: blue;
}

div.lobbyCard button{
  background-color: yellow;
  font-family: 'VT323', monospace;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: 20px;
}

div.lobbyCard button:hover {
  background-color: white;
}

.lobbyCard div {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 40em;
  padding: 1%;
  border-radius: 20px;
}

.lobbyCard div * {
  background-color: black;
}

.lobbyCard a {
  text-decoration: none;
  color: white;
  font-family: 'VT323', monospace;
}

#lobby-container .form {
    font-family: 'VT323', monospace;
  background-color: black;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  border: 2px solid red;
  border-radius: 20px;
  color: white;
}

#lobby-container .form button {
  font-family: 'VT323', monospace;
  background-color: yellow;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: 20px;
}

#lobby-container .form button:hover {
  background-color: white;
}

/*! ============LOBBY LIST============  */