
.container {
  padding: 2em;
  display: flex;
  border-radius: 20px;
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: #4CC2FF;
}

.label {
  margin-right: 0.5rem;
  -webkit-text-stroke: .25px #FDE024;
  text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
  color: #FDE024;
  font-weight: 900;
  font-size: 1.5vmin;
}

.inputContainer {
  margin-bottom: 1rem;
}

.buttonContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.buttonContainer button, .buttonContainer a {
  height: 50px;
  -webkit-text-stroke: .25px #FDE024;
  text-shadow: -1px 1px 2px #000,
              1px 1px 2px #000,
              1px -1px 0 #000,
              -1px -1px 0 #000;
  color: #FDE024;
  font-weight: 900;
  font-size: 1.5vmin;
}

.buttonContainer button {
  background-color: #F14211;
  border-radius: 400px;
  border: 2px solid black;
}